<html>
<head>
<title>Initial WebGL Modeling</title>
<script type="text/javascript" src="{{STATIC_URL}}/JS/gl-matrix-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/JS/webgl-utils.js"></script>
<script id="shader-fs" type="x-shader/x-fragment">
  varying lowp vec4 vColor;
  void main(void) {
    gl_FragColor = vColor;
  }
</script>
<script id="shader-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;
  attribute vec4 aVertexColor;
  uniform mat4 modelViewMatrix;
  uniform mat4 projectionMatrix;
  varying lowp vec4 vColor;
  void main(void) {
    gl_Position = projectionMatrix * modelViewMatrix * vec4(aVertexPosition, 1.0);
    vColor = aVertexColor;
  }
</script>
<script type="text/javascript">
var isAndroid = -1;
var gl;
var program;
var modelViewMatrix;
var projectionMatrix;
var width;
var height;
var rotationMatrix = mat4.create();
mat4.identity(rotationMatrix);
window.onresize = function(event) {
  initLib.initGL();
  drawLib.drawJSONpolys();
}
var initLib = {  
  initGL: function() {
    var canvas = document.getElementById("canvas1");
    height = window.innerHeight;
    width = window.innerWidth;
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    try {
        gl = canvas.getContext("experimental-webgl");
        gl.viewportWidth = canvas.width;
        gl.viewportHeight = canvas.height;
    } catch (e) {}
    if (!gl) {
        alert("Could not initialise WebGL. Visit http://caniuse.com/webgl to check browser support.");
    }
  },
  getShader: function(id) {
    var shaderScript = document.getElementById(id);
    if (!shaderScript) {
      return null;
    }
    var str = "";
    var k = shaderScript.firstChild;
    while (k) {
      if (k.nodeType == 3) {
          str += k.textContent;
      }
      k = k.nextSibling;
    }
    var shader;
    if (shaderScript.type == "x-shader/x-fragment") {
      shader = gl.createShader(gl.FRAGMENT_SHADER);
    } else if (shaderScript.type == "x-shader/x-vertex") {
      shader = gl.createShader(gl.VERTEX_SHADER);
    } else {
      return null;
    }
    gl.shaderSource(shader, str);
    gl.compileShader(shader);
    if (!gl.getShaderParameter(shader, gl.COMPILE_STATUS)) {
      alert(gl.getShaderInfoLog(shader));
      return null;
    }
    return shader;
  },
  initShaders: function() {
    var fragmentShader = initLib.getShader("shader-fs");
    var vertexShader = initLib.getShader("shader-vs");
    program = gl.createProgram();
    gl.attachShader(program, vertexShader);
    gl.attachShader(program, fragmentShader);
    gl.linkProgram(program);
    if (!gl.getProgramParameter(program, gl.LINK_STATUS)) {
      alert("Could not initialise shaders");
    }
    gl.useProgram(program);
    program.vertexPositionAttribute = gl.getAttribLocation(program, "aVertexPosition");
    gl.enableVertexAttribArray(program.vertexPositionAttribute);
    program.vertexColorAttribute = gl.getAttribLocation(program, "aVertexColor");
    gl.enableVertexAttribArray(program.vertexColorAttribute);
    program.pMatrixUniform = gl.getUniformLocation(program, "projectionMatrix");
    program.mvMatrixUniform = gl.getUniformLocation(program, "modelViewMatrix");
  },
}
var bufferLib = {
  JSONobject: null,
  vertexArraysToDraw: {},
  colorArraysToDraw: {},
  arrayCount: 0,
  // proportionWidth: 24,
  // proportionHeight: 24,
  // floorBuffer: [
  //     -1.0, -0.1, -6.0,
  //      1.0, -0.1, -6.0,
  //      1.0, -0.1,  6.0,
  //     -1.0, -0.1,  6.0,
  //   ],
  initJSONBuffers: function() {
    for (var i = 0; i < bufferLib.JSONobject.length; i++) {
      var name = "array" + bufferLib.arrayCount.toString();
      bufferLib.arrayCount++;
      var vertices = [];
      var colors = [];
      for (var j = 0; j < bufferLib.JSONobject[i].length; j++) {
        vertices.push(parseFloat(bufferLib.JSONobject[i][j].x));
        vertices.push(parseFloat(bufferLib.JSONobject[i][j].y));
        vertices.push(parseFloat(bufferLib.JSONobject[i][j].z));
        colors.push(0);
        colors.push(0);
        colors.push(1);
        colors.push(1);
      }
      bufferLib.colorArraysToDraw[name] = gl.createBuffer();
      gl.bindBuffer(gl.ARRAY_BUFFER, bufferLib.colorArraysToDraw[name]);
      gl.bufferData(gl.ARRAY_BUFFER, new Float32Array(colors), gl.STATIC_DRAW);
      bufferLib.colorArraysToDraw[name].numItems = colors.length/4;
      bufferLib.vertexArraysToDraw[name] = gl.createBuffer();
      gl.bindBuffer(gl.ARRAY_BUFFER, bufferLib.vertexArraysToDraw[name]);
      gl.bufferData(gl.ARRAY_BUFFER, new Float32Array(vertices), gl.STATIC_DRAW);
      bufferLib.vertexArraysToDraw[name].itemSize = 3;
      bufferLib.vertexArraysToDraw[name].numItems = vertices.length/3;
      // console.log(vertices);     
    }
  },
  initBuffers: function() {
    modelViewMatrix = mat4.create();
    projectionMatrix = mat4.create();
  },
}
var positionLib = {
  forwardSpeed: 0.0,
  sideSpeed: 0.0,
  pitch: 0.0,
  pitchRate: 0.0,
  yaw: 0.0,
  yawRate: 0.0,
  lastMouseX: null,
  lastMouseY: null,
  moveX: null,
  moveY: null,
  viewX: null,
  viewY: null,
  xPos: -10,
  yPos: 0.9,
  zPos: 45,
  jump: function (x, y, z) {
    positionLib.xPos = x;
    positionLib.yPos = y;
    positionLib.zPos = z;
  },
  jumpToPyramid: function() {
    positionLib.jump(0, 0, 9);
    positionLib.yaw = 180;
    positionLib.pitch = 0;
    mat4.identity(rotationMatrix);
  },
  jumpToCube: function() {
    positionLib.jump(0, 0, -9);
    positionLib.yaw = 0;
    positionLib.pitch = 0;
    mat4.identity(rotationMatrix);
  },
  jumpToCenter: function() {
    positionLib.jump(0, 0, 0);
    positionLib.pitch = 0;
    mat4.identity(rotationMatrix);
  },
  degToRad: function(degrees) {
    return degrees * Math.PI / 180;
  },
}
var initTouch = {
  xPos: 0,
  yPos: 0,
}
var handlers = {
  cameraCircleDown: false,
  mouseDown: false,
  viewDown: false,
  moveDown: false,
  touches: [0, 0],
  handleKeyDown: function(event) {
    if (event.keyCode == 37) {
      // Left Arrow Key (Move left)
      positionLib.sideSpeed = 0.003;
    } else if (event.keyCode == 38) {
      // Up Arrow Key (Move forward)
      positionLib.forwardSpeed = 0.003;
    } else if (event.keyCode == 39) {
      // Right Arrow Key (Move right)
      positionLib.sideSpeed = -0.003;
    } else if (event.keyCode == 40) {
      // Down Arrow Key (Move backward)
      positionLib.forwardSpeed = -0.003;
    } else if (event.keyCode == 87) {
      // W (View up)
      positionLib.pitchRate = 0.02;
    } else if (event.keyCode == 83) {
      // S (View down)
      positionLib.pitchRate = -0.02;
    } else if (event.keyCode == 65) {
      // A (View left)
      positionLib.yawRate = 0.02;
    } else if (event.keyCode == 68) {
      // D (View right)
      positionLib.yawRate = -0.02;
    }
  },
  downCircle: function(e) {
    handlers.cameraCircleDown = true;
  },
  handleMouseDown: function(e) {
    handlers.mouseDown = true;
    positionLib.lastMouseX = e.clientX;
    positionLib.lastMouseY = e.clientY;
  },
  viewHandlerDown: function(e) {
    handlers.viewDown = true;
    var newTouch = initTouch;
    var touchobj = e.changedTouches[0];
    var startx = parseInt(touchobj.clientX);
    var starty = parseInt(touchobj.clientY);
    newTouch.xPos = startx;
    newTouch.yPos = starty;
    handlers.touches[0] = newTouch;
  },
  moveHandlerDown: function(e) {
    handlers.moveDown = true;
    var newTouch = initTouch;
    var touchobj = e.changedTouches[0];
    var startx = parseInt(touchobj.clientX);
    var starty = parseInt(touchobj.clientY);
    newTouch.xPos = startx;
    newTouch.yPos = starty;
    handlers.touches[1] = newTouch;
  },
  handleTouchMove: function(e) {
    if (!handlers.moveDown && !handlers.viewDown) {
        return;
    }
    var touchobj = e.changedTouches[0];    
    var startx = parseInt(touchobj.clientX);
    var starty = parseInt(touchobj.clientY);
    if (handlers.moveDown) {
      handlers.touches[1].xPos = startx;
      handlers.touches[1].yPos = starty;
    }
    if (handlers.viewDown) {
      handlers.touches[0].xPos = startx;
      handlers.touches[0].yPos = starty;
    }
  },
  handleMouseMove: function(e) {
    if (handlers.mouseDown) {
      var newX = event.clientX;
      var newY = event.clientY;
      var deltaX = newX - positionLib.lastMouseX
      var newRotationMatrix = mat4.create();
      mat4.identity(newRotationMatrix);
      mat4.rotate(newRotationMatrix, positionLib.degToRad(deltaX / 10), [0, 1, 0]);
      var deltaY = newY - positionLib.lastMouseY;
      mat4.rotate(newRotationMatrix, positionLib.degToRad(deltaY / 10), [1, 0, 0]);
      mat4.multiply(newRotationMatrix, rotationMatrix, rotationMatrix);
      positionLib.lastMouseX = newX;
      positionLib.lastMouseY = newY;
    }
    if (handlers.cameraCircleDown) {
      var rect = document.getElementById("cameraRect").getBoundingClientRect();
      var newX = e.clientX - (rect.right-rect.width/2);
      var newZ = (rect.bottom-rect.height/2) - e.clientY;
      positionLib.xPos = newX/bufferLib.proportionWidth;
      positionLib.zPos = -newZ/bufferLib.proportionHeight;
    }    
  },
  handleUp: function(e) {
    handlers.cameraCircleDown = false;
    handlers.mouseDown = false;
    handlers.moveDown = false;
    handlers.viewDown = false;
    handlers.touches = [0, 0];
  },
  handleReset: function(e) {
    positionLib.viewX = 0;
    positionLib.viewY = 0;
    positionLib.moveX = 0;
    positionLib.moveY = 0;
    positionLib.yPos = 0;
    positionLib.xPos = 0;
    positionLib.zPos = 0;
    positionLib.yaw = 0;
    positionLib.pitch = 0;
  },
}
var drawLib = {
  lastTime: 0.0,
  testBoundaries: function() {
    if (positionLib.zPos < bufferLib.floorBuffer[2] + 0.25) {
      positionLib.zPos = (bufferLib.floorBuffer[2] + 0.25);
    } else if (positionLib.zPos > bufferLib.floorBuffer[8] - 0.25) {
      positionLib.zPos = (bufferLib.floorBuffer[8] - 0.25);
    }
    if (positionLib.xPos < bufferLib.floorBuffer[0] + 0.25) {
      positionLib.xPos = (bufferLib.floorBuffer[0] + 0.25);
    } else if (positionLib.xPos > bufferLib.floorBuffer[3] - 0.25) {
      positionLib.xPos = (bufferLib.floorBuffer[3] - 0.25);
    }
  },
  setMatrixUniforms: function() {
    gl.uniformMatrix4fv(program.pMatrixUniform, false, projectionMatrix);
    gl.uniformMatrix4fv(program.mvMatrixUniform, false, modelViewMatrix);
  },
  drawJSONpolys: function() {
    gl.viewport(0, 0, gl.viewportWidth, gl.viewportHeight);
    gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
    mat4.perspective(45, gl.viewportWidth / gl.viewportHeight, 0.1, 100.0, projectionMatrix);
    mat4.identity(modelViewMatrix);
    mat4.rotate(modelViewMatrix, positionLib.degToRad(-positionLib.pitch), [1, 0, 0]);
    mat4.rotate(modelViewMatrix, positionLib.degToRad(-positionLib.yaw), [0, 1, 0]);
    mat4.translate(modelViewMatrix, [-positionLib.xPos, positionLib.yPos, -positionLib.zPos]);
    mat4.multiply(modelViewMatrix, rotationMatrix);

    for (var i = 0; i < bufferLib.arrayCount; i++) {
      var name = "array" + parseInt(i);
      gl.bindBuffer(gl.ARRAY_BUFFER, bufferLib.vertexArraysToDraw[name]);
      gl.vertexAttribPointer(program.vertexPositionAttribute, 3, gl.FLOAT, false, 0, 0);
      gl.bindBuffer(gl.ARRAY_BUFFER, bufferLib.colorArraysToDraw[name]);
      gl.vertexAttribPointer(program.vertexColorAttribute, 4, gl.FLOAT, false, 0, 0);
      drawLib.setMatrixUniforms();
      gl.drawArrays(gl.TRIANGLES, 0, bufferLib.vertexArraysToDraw[name].numItems);
    }
  },
  done: false,
  tick: function() {
    requestAnimFrame(drawLib.tick);
    //drawLib.testBoundaries();
    var rect = document.getElementById("cameraRect").getBoundingClientRect();
    var newCircleX = (positionLib.xPos * bufferLib.proportionWidth)+((rect.right - rect.left)/2);
    var newCircleY = (positionLib.zPos * bufferLib.proportionHeight)+((rect.bottom - rect.top)/2);
    $("#cameraCircle").attr("cx", newCircleX);
    $("#cameraCircle").attr("cy", newCircleY);
    drawLib.drawJSONpolys();
    //drawLib.drawScene();
    var timeNow = new Date().getTime();
    var elapsed = timeNow - drawLib.lastTime;
    if (handlers.moveDown) {
      var startx = handlers.touches[1].xPos;
      var starty = handlers.touches[1].yPos;
      var rect = document.getElementById("moveCenter").getBoundingClientRect();
      positionLib.moveX = startx - (rect.right-rect.width/2);
      positionLib.moveY = (rect.bottom-rect.height/2) - starty;
      positionLib.sideSpeed = positionLib.moveX * -0.00001;
      positionLib.forwardSpeed = positionLib.moveY * 0.00004;
    }
    if (handlers.viewDown) {
      var startx = handlers.touches[0].xPos;
      var starty = handlers.touches[0].yPos;
      var rect = document.getElementById("viewCenter").getBoundingClientRect();
      positionLib.viewX = startx - (rect.right-rect.width/2);
      positionLib.viewY = (rect.bottom-rect.height/2) - starty;
      positionLib.yawRate = -0.0003 * positionLib.viewX;
      positionLib.pitchRate = 0.0003 * positionLib.viewY;
    }
    if (positionLib.forwardSpeed != 0) {
      positionLib.xPos -= Math.sin(positionLib.degToRad(positionLib.yaw)) * positionLib.forwardSpeed * elapsed;
      positionLib.zPos -= Math.cos(positionLib.degToRad(positionLib.yaw)) * positionLib.forwardSpeed * elapsed;
      positionLib.forwardSpeed = 0;
    }
    if (positionLib.sideSpeed != 0) {
      positionLib.zPos += Math.sin(positionLib.degToRad(positionLib.yaw)) * positionLib.sideSpeed * elapsed;
      positionLib.xPos -= Math.cos(positionLib.degToRad(positionLib.yaw)) * positionLib.sideSpeed * elapsed;  
      positionLib.sideSpeed = 0;
    }
    if (positionLib.yawRate != 0) {
      positionLib.yaw = positionLib.yaw + elapsed * positionLib.yawRate;
      positionLib.yawRate = 0;
    }
    if (positionLib.pitchRate != 0) {
      positionLib.pitch = positionLib.pitch + elapsed * positionLib.pitchRate;
      positionLib.pitchRate = 0;
    }
    drawLib.lastTime = timeNow;
  },
}
function webGLStart() {
  var ua = navigator.userAgent.toLowerCase();
  isAndroid = ua.indexOf("android") > -1;
  DisplayHelpDiv();
  if (!isAndroid) {
    document.getElementById("controls").style.display = "none";
  } else {
    document.getElementById("viewStick").addEventListener('touchstart', function(e) {
    e.preventDefault();
    handlers.viewHandlerDown(e);
    }, false);
    document.getElementById("reset").addEventListener('touchstart', function(e) {
      e.preventDefault();
      handlers.handleReset(e);
    }, false);
    document.getElementById("moveStick").addEventListener('touchstart', function(e) {
      e.preventDefault();
      handlers.moveHandlerDown(e);
    }, false);
    document.addEventListener('touchend', function(e) {
      e.preventDefault();
      handlers.handleUp();
    }, false);
    document.addEventListener('touchmove', function(e){
      e.preventDefault();
      handlers.handleTouchMove(e);
     }, false);
    document.getElementById("reset").onmousedown = handlers.handleReset;
  }
  document.getElementById("cameraSVG").onmousedown= getPoly3Json;
  initLib.initGL();
  initLib.initShaders();
  bufferLib.initBuffers();
  gl.clearColor(0.0, 0.0, 0.0, 1.0);
  gl.clearDepth(1.0);
  gl.enable(gl.DEPTH_TEST);
  gl.depthFunc(gl.LEQUAL);
  // For rotation, if necessary.
  document.getElementById("canvas1").onmousedown = handlers.handleMouseDown;
  document.getElementById("cameraCircle").onmousedown = handlers.downCircle;
  document.onmouseup = handlers.handleUp;
  document.onmousemove = handlers.handleMouseMove;
  document.onkeydown = handlers.handleKeyDown;
  drawLib.tick();
}
</script>
</head>
<body onload="webGLStart();" bgcolor="#000000" style="width: 100%; height: 100%; padding: 0px; border: 0px; margin: 0px; overflow: hidden;">
  <canvas id="canvas1" style="padding=0.0em" width="500" height="500">{% csrf_token %}</canvas>
  <svg id="cameraSVG" width="200" height="288">
  <rect id="cameraRect" width="48" height="288" stroke="black" stroke-width="1" fill="white" />
  <circle id="cameraCircle"cx="24" cy="84" r="1" stroke="red" stroke-width="3" fill="red" />
</svg>
  {% include "question.html" %}
</body>
</html>
